.projects-paper {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.open-github-page img{
   margin-right: 120px;
}

.open-github-page:hover {
    transform: translateY(-15px);
}

.overlay-text {
    position: absolute;
    bottom: 14px;
    left: 24px;
    width: 100%;
    color: #000;
    text-align: center;
    opacity: 0;
}

.open-github-page:hover .overlay-text {
    opacity: 1;
}

.card {
    width: 33%;
}

@media screen and (max-width: 700px) {
    .card {

        width: 50%;
        height: 600px;
        display: grid;
    }
}
